.hero {
    height: 70vh;
    display: flex;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3029586834733894) 0%, rgba(250, 237, 88, 0.4542191876750701) 100%);
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    padding-left: 3rem;
    line-height: 1.1;
}

.hero-left h2 {
    color: #090909;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 10px;
}

.hero-left p {
    color: #171717;
    font-size: 100px;
    font-weight: 700;
}

.hero-latest-button button {
    width: 14rem;
    height: 3.4rem;
    border-radius: 2rem;
    font-size: 17px;
    border: none;
    background-color: #ae2222;
    color: white;
    letter-spacing: 1.2px;
    cursor: pointer;
    margin-top: 2.4rem;
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:500px){
    .hero{
        flex-direction: column;
    }
    .hero-right{
        display: none;
    }
    .hero-left h2{
        font-size: 18px;
    }
    .hero-left p{
        font-size: 50px;
    }
   .hero-latest-button{
    width: 200px;
    height: 45px;
    font-size: 14px;
   }
}