* {
    margin: 0;
    padding: 0;
}

.nav-container {
    height: 5rem;
    margin-top: 2rem;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    padding-left: 5rem;
    font-size: 2rem;
}

.nav-logo h1 {
    font-weight: bold;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    list-style: none;
    cursor: pointer;
    color: #515151;
    font-weight: 300;
}

.nav-list-select {
    color: red;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    padding-right: 5rem;
}

.nav-right button {
    width: 127px;
    height: 38px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 55px;
    color: #515151;
    background: white;
    cursor: pointer;
}

.nav-right button:active {
    background: #f3f3f3;
}

.nav-right img {
    cursor: pointer;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: -35px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}
.nav-dropdown{
    display: none;
}
    
@media(max-width:1280px){
    .nav-bar{
        padding: 12px 50px;
    }
    .nav-logo h1{
        font-size: 25px;
    }
    .nav-list{
        gap: 30px;
        font: 16px;
    }
    .nav-right img{
        gap: 30px;
    }
    .nav-right button{
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    }
}
@media(max-width:1024px) {
    .nav-bar{
        padding: 12px 30px;
    }
    .nav-list{
        gap: 25px;
        font: 14px;
    }
    .nav-right img{
        width: 30px;
    }
    .nav-cart-count{
       width: 18px;
       height: 18px;
    }
    .nav-right button{
        width: 80px;
        height: 35px;
        font-size: 14px;
    }
}

@media(max-width:500px){
    .nav-bar{
        padding: 8px;
        gap: 0px;
    }
    .nav-list{
        display: none;
        height: 70px;
        top: 75px;
        right: 1px;
        width: 100%;
        position: absolute;
        background-color: white;
        justify-content: center;
        
    }
    .nav-right button{
        transform: scale(0.8);
    }
    .nav-dropdown{
        display: block;
        width: 30px;
        rotate: -90deg;
        transition: 0.5s;
    }
    .nav-menu-visible{
        display: flex;
    }
    .nav-dropdown.open{
        transform: rotate(90deg);
    }
    .nav-logo{
        padding-left: 40px;
    }
}